.center-blue-mid {
    text-align: center;
    margin-right: 165px;
    margin-top: -20px;
    margin-bottom: 55px;
    padding: 25px;
    color: #3cc;;
}
.center-img {
    height: 7em;
    width: 7em;
    position: absolute;
    right: 793px;
    top: 130px;
}